<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.fh_trier.eclipse.lisp.servers">
      <server
            host="localhost"
            name="CLISP"
            port="31340"
            version="2.4.1">
         <configuration
               class="de.fh_trier.eclipse.clisp.mac.ppc.Configuration"
               logging="false"
               logseverity="error"/>
      </server>
   </extension>

</plugin>
