<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.fh_trier.eclipse.lisp.servers">
      <server
            host="localhost"
            name="CLISP"
            port="31399"
            version="2.4.3">
         <configuration
               class="de.defmacro.dandelion.env.clisp.mac.ppc.Configuration"
               logging="false"
               logseverity="error"/>
      </server>
   </extension>

</plugin>
