<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.defmacro.dandelion.servers">
      <server
            host="localhost"
            name="CLISP"
            port="31402"
            version="2.4.8">
         <configuration
               class="de.defmacro.dandelion.env.clisp.linux.x86.Configuration"
               logging="true"
               logseverity="error"/>
      </server>
   </extension>

</plugin>
