<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.fh_trier.eclipse.lisp.servers">
      <server
            host="localhost"
            name="SBCL"
            port="30222"
            version="1.0.22">
         <configuration
               class="de.defmacro.dandelion.env.sbcl.mac.ppc.Configuration"
               logging="true"
               logseverity="error">
         </configuration>
      </server>
   </extension>

</plugin>
