<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="de.defmacro.dandelion.servers">
      <server
            host="localhost"
            name="SBCL"
            port="30234"
            version="1.0.45">
         <configuration
               class="de.defmacro.dandelion.env.sbcl.mac.intel.Configuration"
               logging="false"
               logseverity="error"/>
      </server>
   </extension>
</plugin>
