<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.defmacro.dandelion.servers">
      <server
            host="localhost"
            name="SBCL"
            port="30239"
            version="1.4.14">
         <configuration
               class="de.defmacro.dandelion.env.sbcl.win32.x86.Configuration"
               logging="true"
               logseverity="error">
         </configuration>
      </server>
   </extension>
</plugin>
