Source: cl-clue
Section: libs
Priority: optional
Build-Depends-Indep: debhelper
Maintainer: Peter Van Eynde <pvaneynd@debian.org>
Standards-Version: 3.6.1.0

Package: cl-clue
Architecture: all
Depends: common-lisp-controller (>= 3.45), cmucl-source
Replaces: clio, pictures, clue
Description: Lisp package for clue/clio/pictures: X interfaces for lisp
 Clue is to lisp what xlib is to C. It's basic, but
 close to the metal.
 .
 Clio is to Lisp what Xt is to C.
 It uses CLOS to give an OO interface to X.
 .
 Pictures is an imaging-system for clue.
 It lets people use constraints and such to draw pictures.

Package: clue
Architecture: all
Depends: cl-clue
Description: Package to ease upgrading, delete me
 The clue package is now called cl-clue. Please 
 remove me.
