Source: cl-cil
Section: doc
Priority: optional
Build-Depends-Indep: debhelper
Maintainer: Peter Van Eynde <pvaneynd@debian.org>
Standards-Version: 3.6.2.1

Package: cl-cil
Architecture: all
Depends: common-lisp-controller (>= 3.45), cl-asdf
Replaces: cil
Conflicts: cil
Description: Chess In Lisp. A chess library in Common Lisp
 This library is mainly intended as an example file.
 .
 Not much useful stuff can be done yet.
